@charset "UTF-8";

/*INÍCIO CÓDIGO DESKTOP*/

@media screen and (min-width: 768px) {

body{
    width: 100%;
}

.texto-principal{
    display: flex;
    flex-direction: column;
    /* position: relative; */
    top: 18rem;
    left: 4rem;
    /* justify-content: center; */
    /* align-items: center; */
    width: 31%;
    font-size: 1.8rem;
    margin-left: 3rem;
}

.frase3{
    display: flex;
    flex-direction: column;
    /* position: relative; */
    top: 20rem;
    left: 3rem;
    /* justify-content: center; */
    /* align-items: center; */
    width: 40%;
    font-size: 1.6rem;
    margin-left: 1rem;
}

.formulario {
    margin: 2rem;
    padding: 2rem;
    width: 40vw;
    margin-left: 30%; 
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: -19rem;
    left: 12rem
}

.textfield {
    border-width: 4px;
    width: 87%;
}

.mailto {
    padding-left: 21%;
}

.botaoenviar {
    left: 40%;
    border-width: 3px;
    width: 5.875rem;
}

.frase4 {
    font-size: 1.5rem;
    margin-bottom: 4rem;
}

.botao-video{
    display: none;
}

.celular {
    width: 12rem;
    height: 21rem;
    left: 9%;
    top: -3%;
}

.googleplay {
    width: 11.75rem;
    height: 3.75rem;
    left: 0%;
    top: 0%;
}

.applestore {
    width: 11.75rem;
    height: 3.75rem;
    left: 0%;
    top: 61%;
    margin-top: 1rem;
}

.frase-final{
    margin-top: 15rem;
}

.botao-voltar {
    left: 37%;
}

.lista-um-footer {
    left: 25%;
}

.lista-dois-footer {
    margin: 0.3rem;
    left: 65%;
}

.socialmedia {
    left: 92%;
}

.logobn {
    left: -3.5%; 
}

.lojasapp{
    border-color: red;
    border-style: solid;
    border-width: 2px;
    position: relative;
    margin: 2rem;
    margin-top: 22rem;
    width: 6rem;
    /* height: 2rem; */
    /* padding: 3%; */
}

.video{
    display: flex;
    align-items: center;
    /* position: absolute; */
    flex-direction: column;
    border-style: solid;
    border-color: red;
    border-width: 2px;
    margin-top: auto;
}

.container-celular{
    top: -43rem;
    left: 10rem;
    width: 23rem;
}


}