@charset "UTF-8";

/*INÍCIO CÓDIGO DESKTOP*/

@media screen and (min-width: 768px) {

body{
    background-color: yellow;
}


.logobn {
    margin-left: 97%; 
}

.botao-voltar {
    left: 31%;
}

.lista-dois-footer {
      left: 53%;
}

.botaoenviar {
    left: 42%;
}

.mailto {
    padding-left: 30%;
}


} 
