
body{
    background: linear-gradient(#fff, #455ba8);
    color: #f4f7fb;
    font-family: 'Raleway', sans-serif;
}

.container{
    border-style: solid;
    margin: 0rem;
    padding: 1rem;
    margin-top: 0.5rem;
}

.overlay{
    width: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 9;
    position: fixed;
    left: 0;
    top: 0;
    overflow-x: hidden;
    transition: all 0.5s;
}

.overlay .closebtn{
    position: absolute;
    top: 1rem;
    left: 2rem;
    font-size: 60px;
    color: #fff;
    text-decoration: none;
}

.overlay-content{
    display: flex;
    flex-direction: column;
    position: relative;    
    /* padding: 0.5rem; */
    border: 0.1rem;
    /* margin: 0.4rem; */
    text-align: center;
    width: 100%;
    margin-top: 10rem;
}

.overlay a{
    padding: 8px;
    text-decoration: none;
    color: #4cfbb4;
    font-size: 34px;
    transition: 0.3s;
}

#forms:hover{
    color: #642C93;
    transition: 0.3s;
}

#social-media:hover{
    color: #642C93;
    transition: 0.3s;
}

#baixar-app:hover{
    color: #642C93;
    transition: 0.3s;
}

.leitor{
    display: block;
    position: absolute;
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    font-size: 0.4rem;
    font-weight: bolder;
    color: #4cfbb4;
    text-align: center;
    border: solid;
    border-color: #642c93;
    border-radius: 3rem;
    background-color: #2589BD;
    top: 3.5rem;
    left: 82.5%;
}

.maiuscula{
    display: block;
    position: absolute;
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    font-size: 1rem;
    font-weight: bolder;
    color: #4cfbb4;
    text-align: center;
    border: solid;
    border-color: #642c93;
    border-radius: 1rem;
    background-color: #2589BD;
    top: 7rem;
    left: 82.5%;
}

.minuscula{
    display: block;
    position: absolute;
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    font-size: 1rem;
    font-weight: bolder;
    color: #4cfbb4;
    text-align: center;
    border: solid;
    border-color: #642c93;
    border-radius: 1rem;
    background-color: #2589BD;
    top: 10.5rem;
    left: 82.5%;
}

.nav-button{
    all: unset;
    cursor: pointer;
    /*outline: revert;*/
    border: 2px;
}

.menuinicial{
    width: 3rem;
    height: 3rem; 
    cursor: pointer; 
    display: block;
    position: absolute;
    /*padding: 0.5rem;
    border: 0.1rem;
    margin: 0.4rem;
    left: 82.5%; */
    right: 2%;
    margin-top: -1.8rem;
}

.logo-bn-grande{
    margin: 0rem;
    width: 4rem;
    height: 3rem;
    border-style: solid;
    margin-top: -3.3rem;
}

.logo-header{
    width: 5rem;
    height: 3rem;
    /* cursor: pointer; */
    display: block;
    position: relative;
    /* padding: 0.3rem; */
    /* border: 0.1rem; */
    /* margin: 0.4rem; */
    left: 3%;
    margin-top: 4%;
}

.caixa-titulo{
    text-align: center;
    margin-top: 2rem;
    font-family: sans-serif;
    font-weight: bold;
}

.titulo{
    color: #642C93;
    font-size: 2rem;
    text-shadow: -2px 1px 2px #642C93;
    font-family: 'Raleway';
}

.titulo-2{
    color: #642C93;
    margin-top: 1rem;
    font-family: 'Raleway';
}

.texto-principal{
    margin: 1rem;
    padding: 2rem;
    margin-top: 1rem;
    font-weight: bold;
    color: #642C93;
    font-size: 1.5rem;
    text-align: center;
}

.frase3{
    color:#642C93;
    text-align: center;
    font-weight: bold;
    padding: 1rem;
    font-size: 1.2rem;
    /* border-color: #fff;
    border-style: solid;
    border-width: 0.5rem; */
    margin-top: -1rem;
}

.formulario{
    background-color: #187795;
    margin: 2rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 22px;
    border-style: solid;
    border-color: #642C93;
    border-width: 4px;
    box-shadow: -7px 1px 32px 1px #642C93;
}

.formulario input{
    border-radius: 59;
    margin: 0.5rem;
}

.formulario label{
    padding-left: 9px;
}

.frase1{
    text-transform: uppercase;
    text-align: center;
    margin: revert;
    color: #4cfbb4;
    font-weight: bold;
    font-size: 23px;
}

.frase2{
    text-align: center;
    margin: revert;
}

.formulario textarea{
    display: flex;
    margin: 8px;
    height: 115px;
}

.textfield{
    width: 84%;
    height: 2.25rem;
    border-radius: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: #642C93;
    padding-left: 0.875rem;
    padding-right: 0.875rem;
}

.textfield:focus{
    box-shadow: none;
    outline: 0;
    border-color: #32164A;
}

#campoNumero::-webkit-outer-spin-button, 
#campoNumero::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

.caixaemail{
    padding: 3%;
}

.mailto{
    color: #4cfbb4;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.mailto:hover{
    color:#642C93;
    transition: 0.3s;
}

.anuncios{
    text-align: center;    
}

.checkboxemail{
    display: flex;
    align-items: center;
}

.checkboxwhatsapp{
    display: flex;
    align-items: center;
}

.termos{
    display: flex;
    align-items: center;
}

.caixaemail b {
    font-weight: bold;
}

.botaoenviar{
    position: relative;
    left: 34%;
    padding: 8px;
    margin-top: 10px;
    border-radius: 22px;
    border-color: #642C93;
    border-style: solid;
    border-width: 2px;
    width: 86px;
    background-color: #4cfbb4;
    cursor: pointer;
}

.botaoenviar:hover{
    background-color: #642C93;
    color:#4cfbb4 ;
    transition: 0.3s;
}

.video{
    margin-top: 4rem;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.botao-video{
    position: relative;
    padding: 0.5rem;
    border-radius: 1.5rem;
    border-color: #642C93;
    border-style: solid;
    border-width: 2px;
    background-color: #4cfbb4;
    cursor: pointer;
    font-weight: bolder;
    text-decoration: none;
}

.botao-video:hover{
    background-color: #642C93;
    color:#4cfbb4 ;
    transition: 0.3s;
}

.frase4{
    padding: 3rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.container-celular{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 25rem;
    top: -1.5rem;
    padding: 0.5rem;
    border: 0.1rem;
    margin: 0.4rem; 
}

.celular{
    width: 10rem;
    height: 20rem;
    display: block;
    position: absolute;
    top: 1rem;
    left: 2%;
}

.lojasapp{
    display: flex;
    align-items: center;
    padding: 13%;
}

.googleplay{
    width: 8.75rem;
    height: 2.75rem;
    display: block;
    position: absolute;
    top: 7rem;
    left: 55%;
}

.applestore{
    width: 8.75rem;
    height: 2.75rem;
    display: block;
    position: absolute;
    top: 12.5rem;
    left: 55%;
}

.frase-final{
    /*border: none;
    padding: 5rem;*/
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
    margin-bottom: 10rem;
}

.carousel-container{
    margin-top: 1rem;
}

/* .section-frase-carousel{

} */

.frase-final section{
    display: block;
    position: absolute;
    /* padding: 3rem; */
    padding-bottom: 10rem;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
}

.frase-final h3{
    padding: 3rem;
}

footer{
    height: 18rem;
    background-color: #32164A;
}

.botao-footer{
    display: flex;
    flex-direction: column;
    position: relative;
    top: -1rem;
    align-items: center;
}

.botao-voltar{
    background-color: #4cfbb4;
    color: #642C93;
    font-size: 1.1rem;
    font-weight: bolder;
    text-align: center;
    border-radius: 1.5rem;
    width: 18rem;
    height: 2.5rem;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    border-width: 2px;
    border-color: #642C93;
    border-style: solid;
    text-decoration: none;
    text-align: center;
}

.botao-voltar:hover{
    background-color: #642C93;
    color: #4cfbb4;
    border-color: #4cfbb4;
    transition: 0.3s;
}

.menu-footer{
    color: #4cfbb4;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 14rem;
    padding: 0.8rem;
    border: 0.3rem;
    margin: 0.5rem;
    margin-top: 1rem;
}

.lista-um-footer{
    display: block;
    position: absolute;
    font-size: 1.3rem;
    padding: 0.5rem;
    border: 0.1rem;
    margin: 0.4rem;
    left: 0%;
}

.lista-um-footer li{
    padding: 0.4rem;
}

.lista-dois-footer{
    display: block;
    position: absolute;
    font-size: 1.3rem;
    padding-top: 0.5rem;
    border: 0.1rem;
    margin: 0.4rem;
    left: 33%;
}

.lista-dois-footer li{
    padding: 0.4rem;
}

.hoverFooter:hover{
    color: #642C93;
    transition: 0.3s;
}

.socialmedia{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    border: 0.1rem;
    width: 1.75rem;
    height: 11.75rem;
    margin-top: 1rem;
    left: 86%;
}

.facebook{
    width: 1.75rem;
    height: 1.75rem;
    margin-bottom: 0.4rem;
}

.instagram{
    width: 1.75rem;
    height: 1.75rem;
    margin-bottom: 0.4rem;
}

.twitter{
    width: 1.75rem;
    height: 1.75rem;
    margin-bottom: 0.4rem;
}

.linkedin{
    width: 1.75rem;
    height: 1.75rem;
    margin-bottom: 0.4rem;
}

.email{
    width: 1.75rem;
    height: 1.75rem;
} 

.logo-grande{
    width: 11rem;
    margin-top: -8rem;
    margin-left: 3rem;
}

.logo-grande-footer{
    width: 11rem;
    height: 7rem;
}

.logobn{
    width: 1rem;
    margin-left: 95%;
    margin-top: -2px;
    position: absolute;
    right: 5%;
}

.copyright{
    margin-left: 5%; 
}