@media screen and (max-width: 480px) {

body{
    background: linear-gradient(#f4f7fb, #2589BD);
    color: #f4f7fb;
}

.logo-bn-grande{
    margin: 0rem;
    width: 4rem;
    height: 3rem;
    border-style: solid;
    /*border-color: red;*/
    /*border-width: 2px;*/
    margin-top: -3.3rem;
}

.container{
    border-color: red;
    border-style: solid;
    /*border-width: 3px;*/
    margin: 0rem;
    padding: 1rem;
    margin-top: 0.5rem;
}

/*
.container{
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0.5rem;
    border: 0.1rem;
    margin: 0.4rem;
    border-style: solid;
    border-width: 0.3rem;
    border-color: #4cfbb4;
}

*/

.logo-header{
    width: 5rem;
    height: 3rem;
    /* cursor: pointer; */
    display: block;
    position: relative;
    /* padding: 0.3rem; */
    /* border: 0.1rem; */
    /* margin: 0.4rem; */
    left: 3%;
    margin-top: 4%;
}


/*
.logo-header{
    width: 7rem;
    height: 5rem;
    cursor: pointer;
    display: block;
    position: absolute;
    padding: 0.3rem;
    border: 0.1rem;
    margin: 0.4rem;
    left: 27.5%;
}
*/

.menuinicial{
    width: 3rem;
    height: 3rem; 
    cursor: pointer; 
    display: block;
    position: absolute;
    /*padding: 0.5rem;
    border: 0.1rem;
    margin: 0.4rem;
    left: 82.5%; */
    right: 2%;
    margin-top: -1.8rem;
}

.nav-button{
    all: unset;
    cursor: pointer;
    /*outline: revert;*/
    border: 2px;
}

.caixa-titulo{
    text-align: center;
    margin-top: 2rem;
    font-family: sans-serif;
    font-weight: bold;
}

.titulo{
    color: #642C93;
    
}

.texto-principal{
    margin: 2rem;
    padding: 2rem;
    border-color: blue;
    border-style: solid;
    border-width: 4px;
    /* padding-top: 0rem; */
    margin-top: 9rem;
}

.formulario{
    background-color: #187795;
    margin: 2rem;
    padding: 1rem;
    width: 73%;
    border-radius: 22px;
    border-style: solid;
    border-color: #642C93;
    border-width: 4px;
    box-shadow: -7px 1px 32px 1px #642C93;
}

.formulario input{
    border-radius: 59;
    margin: 0.5rem;
    display: flex;
}

.formulario label{
    padding-left: 9px;
}

.formulario textarea{
    display: flex;
    margin: 8px;
    height: 115px;
}

.emailcontato{
    text-align: center;
    margin: 13%;
    
}

.caixaemail{
    padding: 3%;
}

.anuncios{
    text-align: center;
    
}

.frase1{
    text-transform: uppercase;
    text-align: center;
    margin: revert;
    color: #4cfbb4;
    font-weight: bold;
    font-size: 23px;
}

.frase2{
    text-align: center;
    margin: revert;
}

.textfield{
    width: 83%;
    height: 2.25rem;
    border-radius: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: #642C93;
    padding-left: 14px;
    padding-right: 14px;
}

.textfield:focus{
    box-shadow: none;
    outline: 0;
}

.checkboxemail{
    display: flex;
    align-items: center;
}

.checkboxwhatsapp{
    display: flex;
    align-items: center;
}

.termos{
    display: flex;
    align-items: center;
}

.botaoenviar{
    position: relative;
    left: 34%;
    padding: 8px;
    margin-top: 20px;
    border-radius: 22px;
    border-color: #642C93;
    border-style: solid;
    border-width: 2px;
    width: 86px;
    background-color: #4cfbb4;
}

.mailto{
    color: #4cfbb4;
    padding-left: 13%;
}

.botaoenviar:hover{
    background-color: #642C93;
    color:#4cfbb4 ;
}

/*.menu-hamburguer{
    position: absolute;
    opacity: 0;
}

.checkbox-menu{
    cursor: pointer;
    position: relative;
    display: block;
    height: 3rem;
    width: 3rem;
}*/

.overlay-content{
    display: flex;
    flex-direction: column;
    position: relative;    
    padding: 0.5rem;
    border: 0.1rem;
    margin: 0.4rem;
}

.overlay{
    width: 0;
    height: 100%;
    /*background-color: rgb(0,0,0);*/
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 9;
    position: fixed;
    left: 0;
    top: 0;
    overflow-x: hidden;
    transition: all 0.5s;
}

.overlay .closebtn{
    position: absolute;
    top: 25px;
    left: 45px;
    font-size: 60px;
}



.leitor{
    display: block;
    position: absolute;
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    font-size: 0.4rem;
    font-weight: bolder;
    color: #4cfbb4;
    text-align: center;
    border: solid;
    border-color: #642c93;
    border-radius: 3rem;
    background-color: #2589BD;
    top: 3.5rem;
    left: 82.5%;
}

.maiuscula{
    display: block;
    position: absolute;
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    font-size: 1rem;
    font-weight: bolder;
    color: #4cfbb4;
    text-align: center;
    border: solid;
    border-color: #642c93;
    border-radius: 1rem;
    background-color: #2589BD;
    top: 7rem;
    left: 82.5%;
}

.minuscula{
    display: block;
    position: absolute;
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    font-size: 1rem;
    font-weight: bolder;
    color: #4cfbb4;
    text-align: center;
    border: solid;
    border-color: #642c93;
    border-radius: 1rem;
    background-color: #2589BD;
    top: 10.5rem;
    left: 82.5%;
}

.container-celular{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 25rem;
    top: 2.5rem;
    padding: 0.5rem;
    border: 0.1rem;
    margin: 0.4rem;
    /*border-style: solid;
    border-color: #4cfbb4;
    border-width: 0.3rem;*/ 
}

.celular{
    width: 10rem;
    height: 20rem;
    display: block;
    position: absolute;
    top: 1rem;
    left: 2%;
}

.googleplay{
    width: 8.75rem;
    height: 2.75rem;
    display: block;
    position: absolute;
    top: 7rem;
    left: 55%;
}

.applestore{
    width: 8.75rem;
    height: 2.75rem;
    display: block;
    position: absolute;
    top: 12.5rem;
    left: 55%;
}

/*footer{
    background:linear-gradient(rgb(0,144,191), #2589BD);
}*/

footer{
    background-color: #32164A;
}

.menu-footer{
    color: #4cfbb4;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 8rem;
    padding: 0.8rem;
    border: 0.3rem;
    margin: 0.5rem;
}

.lista-um-footer{
    display: block;
    position: absolute;
    padding: 0.5rem;
    border: 0.1rem;
    margin: 0.4rem;
}

.lista-dois-footer{
    display: block;
    position: absolute;
    padding: 0.5rem;
    border: 0.1rem;
    margin: 0.4rem;
    left: 30%;
}

.socialmedia{
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    border: 0.1rem;
    margin: 0.4rem;
    width: 1.75rem;
    height: 1.75rem;

}

.facebook{
    cursor: pointer;
    display: block;
    position: absolute;
    padding: 0.5rem;
    border: 0.1rem;
    margin: 0.4rem;
    width: 1.75rem;
    height: 1.75rem;
    top: 119.5rem;
    left: 75%;
}

.instagram{
    cursor: pointer;
    display: block;
    position: absolute;
    padding: 0.5rem;
    border: 0.1rem;
    margin: 0.4rem;
    width: 1.75rem;
    height: 1.75rem;
    top: 122.5rem;
    left: 75%;
}

.twitter{
    cursor: pointer;
    display: block;
    position: absolute;
    padding: 0.5rem;
    border: 0.1rem;
    margin: 0.4rem;
    width: 1.75rem;
    height: 1.75rem;
    top: 125.5rem;
    left: 75%;
}

.linkedin{
    cursor: pointer;
    display: block;
    position: absolute;
    padding: 0.5rem;
    border: 0.1rem;
    margin: 0.4rem;
    width: 1.75rem;
    height: 1.75rem;
    top: 128.5rem;
    left: 75%;
}

.email{
    cursor: pointer;
    display: block;
    position: absolute;
    padding: 0.5rem;
    border: 0.1rem;
    margin: 0.4rem;
    width: 1.75rem;
    height: 1.75rem;
    top: 131.5rem;
    left: 75%;
}

.botao-voltar{
    background-color: #4cfbb4;
    color: #642C93;
    font-size: 1.1rem;
    font-weight: bolder;
    border-radius: 1.5rem;
    width: 17rem;
    height: 2.5rem;
    display: block;
    position: absolute;
    top: 117rem;
    left: 7%;
}

.botao-voltar:hover{
    background-color: #642C93;
    color: #4cfbb4;
}


.lojasapp{
    display: flex;
    align-items: center;
    padding: 13%;

}

.logobn{
    width: 16px;
}


}

@media screen and (min-width: 800px) {

    body{
        background-color: yellow;
    }

    .botaovoltar:hover{
    background-color: green;
}


}
